
.first-frame{
    height: 80vh;
    width: 90vw;
    background-color: rgba(108, 67, 41, 0.93);
    z-index: 2;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-animation:fader 5s;
}

.start-content> h2{
    color: white;
    position: relative;
    left: 6vw;
    top: 2vh;
    background-color: #663212;
    display: inline;
}

.start-content{
    background-color: rgba(85, 41, 14, 0.91);
    float: left;
    height: 55vh;
    width: 30vw;
    left: 6vw;
    top: 10vh;
    position: relative;
}

.alter-details{
    float: right;
    background-color: rgba(85, 41, 14, 0.91);
    height: 55vh;
    width: 47vw;
    right: 112px;
    top: 10vh;
    position: relative;
}

.alter-details img{
    position: relative;
    top: 5vh;
    left: 6vw;
    filter: contrast(var(--value, 5)); --value:2;
}

.timer{
    position: relative;
    z-index: 1;
}

#countdown{
    position: absolute !important;
    padding-left: 40vw !important;
    top: 30vh !important;
}

/*@keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
}

@-webkit-keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
}*/


/*-------------------------------------*/

.main-content{
    width: 150vw;
    z-index: -1;
    /*filter: blur(var(--value, 1rem)); --value:3px;*/
}

.main-content > img{
    width: 180vw;
    height: 97.5vh;
    z-index: -1;
    position: absolute;
}

.menu-buttons{
    position: relative;
    top: 30px;
    left: 30px;
    z-index: 1;
}

#myTank-Area{
    width: 180vw;
    height: 95vh;
    top: 0;
    position: relative;
}

#myTank{
    width: 140px;
    transform: rotate(-90deg);
}

/*.main-content{
    width: 150vw;
    z-index: -1;
    filter: blur(var(--value, 1rem)); --value:3px;
}

#countdown{
    position: absolute !important;
    padding-left: 40vw !important;
    padding-top: 30vh !important;
}

.main-content > img{
    width: 150vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
}

.fighter1 img {
    width: 140px;
    transform: rotate(-90deg);
}

.menu-buttons{
    position: relative;
    top: 30px;
    left: 30px;
}

.menu-buttons{
    z-index: 1;
    position: absolute
}

.colX{
    height: 100vh;
    width: 14.4vw;
    float: left;
    position: fixed;
}

.colX div {
    width:15vw;
    height: 20vh;
    position: relative;
    border: 2px solid black;
}

.row{
    height: 20vh;
    border: 1px solid black;
}

.col{
    border: 1px solid black;
}

#myTank{
    height: 160px;
    transform: rotate(90deg);
}*/


